.login_M{
    text-shadow: 4px 3px #191936;
    position: absolute;
    top: 5%;
    left: 35%;
    font-size: 60px;
    color: white;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.login{
    text-shadow: 4px 3px #191936;
    position: absolute;
    top: 25%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    text-align: center;
}

.eror{
    position: absolute;
    top: 35%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: red;
}
.loginButton{
    padding: 7px 20px;
}

body{
    background-color: #b6bee1;
}
.bt{
        background-color: #4CAF50;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
        border: 1px solid black;
}
.bt:hover{
        background-color: white;
        color: black;
}

.mainMenu{
    position: absolute;
        font-size: 54px;
    left: 25%;
        color: aliceblue;
        text-shadow: 4px 3px cornflowerblue;
}
.game{
    background-color: royalblue;
    padding: 16px 32px;
    border: 1px solid black;
    font-size: 35px;
    color: antiquewhite;
}
.gameBut{
    position: absolute;
    left: 5%;
    top:20%;
}
.game:hover{
    color: white;
    background-color: darkgreen;
}
.qt1{
    position: absolute;
    left: 33%;
    top: 1%;
    font-size: 26px;
    color: white;
    text-shadow: 4px 1px black;
}
form{
    display:inline-block;
}
.btt{
    position: absolute;
    left: 50%;
    top: 70%;
}
.name{
    position: absolute;
    font-size: 25px;
    left: 55%;
    top: 78%;
    color: white;
    text-shadow: 4px 3px black;
}
.textgame{
    position: absolute;
    font-size: 34px;
    left: 35%;
    top: 5%;
    color: white;
    text-shadow: 4px 3px black;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button{
    position: absolute;
    top: 70%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.Mill{
    position: absolute;
    top: 74%;
    left: 35%;
    font-size: 30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 800px;
    height: 300px;
    color: white;
    text-shadow: 5px 1px black;
}
.quest{
    position: absolute;
    top: 47%;
    left: 35%;
    font-size: 30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 800px;
    height: 80px;
    color: white;
    text-shadow: 5px 1px black;
    background-image: url("/static/img/quest.jpg");
}
.button_Mill{
    border-radius: 40px;
    padding: 10px 80px;
    min-width: 100%;
    text-align: center;
    top: 80%;
    font-size: 18px;
}
.ru{
    position: absolute;
    left: 55%;
    top: 5%;
    font-size: 24px;
    color: white;
}
.imgM{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 10%;
    height: 20%;
}
.imgQ{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 15%;
    height: 28%;
}