body{
    background-color: #b6bee1;
}
.bt{
        background-color: #4CAF50;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
        border: 1px solid black;
}
.bt:hover{
        background-color: white;
        color: black;
}

.mainMenu{
    position: absolute;
        font-size: 54px;
    left: 25%;
        color: aliceblue;
        text-shadow: 4px 3px cornflowerblue;
}
.game{
    background-color: royalblue;
    padding: 16px 32px;
    border: 1px solid black;
    position: absolute;
    font-size: 35px;
    left: 5%;
    top:20%;
    color: antiquewhite;

}
.game:hover{
    color: white;
    background-color: darkgreen;
}
.qt1{
    position: absolute;
    left: 33%;
    top: 1%;
    font-size: 26px;
    color: white;
    text-shadow: 4px 1px black;
}
.btt{
    position: absolute;
    left: 50%;
    top: 70%;
}
.name{
    position: absolute;
    font-size: 25px;
    left: 55%;
    top: 78%;
    color: white;
    text-shadow: 4px 3px black;
}
.textgame{
    position: absolute;
    font-size: 34px;
    left: 35%;
    top: 5%;
    color: white;
    text-shadow: 4px 3px black;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button{
    position: absolute;
    top: 70%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
